body{
background-color:gray;

}
.card{

display:flex;

margin:10px 20px;
flex-direction:column;
padding:10px 20px;
box-shadow:0 0 15px rgba(0,0,0,0);
align-self: normal;

}
.card-text{
font-size:1.3rem
margin:10px 0;
}
.card p{
margin-bottom:10px;
}

.card .card-body{
flex:1 1 18rem;
display:flex;

margin:10px 20px;
flex-direction:column;
}
.card .btn{
margin-top:auto;
}